<div class="comment">
  <div class="comment-image">
    <img src="http://i.imgur.com/egYI57i.png" title="source: imgur.com" />
  </div>
  <div class="comment-content">
    <h4>Comment:</h4>
    <p><%= comment.body %></p>
    <p><%= link_to 'Destroy Comment', [comment.post, comment],
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
</div>

