<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="comment">
    <div class="comment-content">
      <h4><%= f.label :body %></h4>
      <p><%= f.text_area :body %></p>
      <p><%= f.submit %></p>
    </div>
  </div>
<% end %>
