<h1>About Visual You</h1>
<p>A space to upload images that inspire you. Save them for later use. Come back and create mood boards for creative projects!</p>
<%= link_to 'Blogs', controller: 'posts' %>