<div class="grid-items">
  <div class="grid-item">
  <h1>About </h1>
    </div>
  <div class="grid-item grid-item-big">
    <h1>Visual You</h1>
  </div>
  <div class="grid-item grid-item-big">
    <h1>Upload images.</h1>
  </div>
  <div class="grid-item">
    <h1>Save them.</h1>
  </div>
  <div class="grid-item">
    <img src="http://i.imgur.com/egYI57i.png" title="source: imgur.com" />
  </div>
  <div class="grid-item grid-item-big">
    <h1>Get Inspired!</h1>
  </div>
  <div class="grid-item-image ">
    <%= image_tag @randompic %>
  </div>
</div>


