<div class="image-gradient-dynamic">
<a href="http://imgur.com/Q1vguAN"><img src="http://i.imgur.com/Q1vguAN.gif" title="source: imgur.com" /></a>
  <div class="overlay"></div>
  <div class = 'copy'><p>What are we all <%= link_to 'About', welcome_about_path %></p></div>
</div>


