<%= form_for(@post, html: {multipart: true}) do |f| %>
  <div class='field'>
    <%= f.text_field :title, placeholder: "Compose new post..." %>
    <span>
      <%= f.file_field :picture %>
    </span>
    <%= f.submit "Post" %>
  </div>
<%end%>

